<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>
        About
    </title>
</head>
<body>
    {{>navbar}}
    <section class="about-section">
        <div class="container">
                <h1>About</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit soluta, ratione cupiditate ipsa placeat quo inventore unde eos nostrum, dolores maxime in ea sed delectus quidem, quos quaerat. Eos saepe, cum modi hic deserunt expedita laboriosam fugiat aspernatur ipsum repellat similique ipsam dolor eum ea, harum sapiente autem beatae, fugit nihil dignissimos distinctio eveniet. Veritatis hic quae ipsum placeat ducimus sed cum est possimus dolorem pariatur ea incidunt repellat voluptatibus minus iste iusto, similique a, itaque optio quis enim maiores ab necessitatibus error? Rem laboriosam eos assumenda, quidem quia ut qui minus dolorem dolores minima quibusdam voluptatem doloremque quam modi.</p>
        </div>  
    </section>
</body>
</html>