<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>
        Compose
    </title>
</head>
<body>
    {{>navbar}}
    <section class="compose-section">
        <div class="container">
                <h1>Compose</h1>
                <form action="/compose" class="compose-form" method="post">
                    <input type="text" placeholder="Title" class="compose-title" name="postTitle">
                    <textarea placeholder="Post" class="compose-post" name="postContent"></textarea>
                    <input type="submit" class="compose-btn">
                </form>
        </div>  
    </section>
</body>
</html>