<nav class="navbar">
    <div class="container">
        <h1 class="navbar-logo">
            Blog
        </h1>
        <ul class="navbar-items">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/compose">Compose</a></li>
        </ul>
    </div>
</nav>